/* change to local image later */
body {
  margin: 0;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/474/230/original/christmas-candy-land-landscape-design-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* CSS centers and styles "Shake Jar" button bottom of screen */
button {
  padding: 22px;
  font-size: 30px;
  border-radius: 14px;
  cursor: pointer; 
  margin: 0;
  color: blue;
  background-color: #FAFD0F;
  font-family: "Brush Script MT", cursive;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navbar {
  margin: 0;
  padding: 20px;
  background-color: white;
  height: 100px;
  font-family: "Brush Script MT", cursive;
}
.navbar > img {
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
}
.jar {
  position: relative;
}
.jar{
  height: 600px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shake {
  animation: shake 0.5s linear;
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-5px, 0) rotate(-5deg); }
  40% { transform: translate(5px, 0) rotate(5deg); }
  60% { transform: translate(-5px, 0) rotate(-5deg); }
  80% { transform: translate(5px, 0) rotate(5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
